body {
    font-family: 'Questrial', sans-serif;

}

.header {
    font-size: 2rem;
    line-height: 1.5;
    padding: 15% 0% 10% 0%;

}

.password-box {
    padding: 13% 15% 5% 20%;
}

.back-button {
    margin: 14% 0% 0% 0%;
}

.back-section {
    padding: 0% 0% 0% 10%;
}

.login-img {

    height: 125%;
}

.password-input {
    height: 49px;
    width: 657px;
    margin-bottom: 7%;
    border-color: #F49C00;
}

.forgot-password {
    margin-top: 8%;
    color: #45130F;
}

.password-btn {
    margin-left: 73%;
    width: 220px;
    height: 48px;

}

@media (max-width: 1220px) {

    .login-img {
        height: 100%;
    }
}