body {
    font-family: 'Questrial', sans-serif;

}

p {
    font-size: 1.5rem;
    line-height: 1.5;
    padding-right: 0%;
}

.header {
    font-size: 1.7rem;
    line-height: 1.5;
    padding: 5% 10% 3% 0%;
}

.password-box {
    padding: 15%;
}


.login-img {
    height: 125%;
    padding-right: 5%;
}

.continue-btn {
    width: 220px;
    height: 48px;
    margin: 8% 0% 0% 0%;
}

@media (max-width: 1220px) {

    .login-img {
        height: 100%;
    }
}