body {
    font-family: 'Questrial', sans-serif;

}

p {
    font-size: 1.5rem;
    line-height: 1.5;
    padding-right: 14%;
}

.header {
    font-size: 2rem;
    line-height: 1.5;
    padding: 5% 10% 3% 0%;
}

.password-box {
    padding: 15%;
}

.remember-password {
    padding-top: 5%;
}

.login {
    color: #B11F24;
}

.login-img {
    height: 125%;
}

@media (max-width: 1220px) {

    .login-img {
        height: 100%;
    }
}